/*pt a selecta o parte din htmle sunt trei forme de selectare:
  1) cand selectezi sectiuni mari cum ar fi <body></body> sau <div></div> folosim body
  2) cand selectam o clasa folosim .name_of_class
  3) cand selectam un ID dolosim #name_of_ID
  */ 
  body{
    font-family:' Montserrat';
    text-align: center;
  }
  h1, h2, h3{
    font-family: "Montserrat-Bold";

  }



  p{
    color: #8f8f8f;
  }

/* Headings */
  .big-heading{
    font-family: "Montserrat-Black";
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: bold;
  }
  .section-heading{
    font-size: 3rem;
    line-height: 1.5;
  }

  /* Containers */

  .container-fluid{
    padding: 3% 15% ;
  
}

/* Sections */
.colored-section{
  background-color: #ff4c68;
  color: #fff;
}

.white-section{
  background-color: #fff;
}






  /* Navigation Bar */

  .navbar{
    padding: 0 0 4.5rem;
  }

  .navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
    

  }

  .nav-item{
    padding: 0 18px;
  }

  .nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
  }

  /* Download button */
  .download-button{
    margin: 5% 3% 5% 0;
  }

/* Title Section */

  #title .container-fluid{
    padding: 3% 15% 7%;
    text-align: left;
  }
  
  /* Title image */
  .image{
    width: 60%;
    transform: rotate(20deg);
    position: absolute;
    right: 30%;

  }

  /* features Section */
  #features{
    
    
    position: relative;
   }

   .feature-title{
    font-size: 1.5rem;
   }

  .feature-box{
   
    padding: 4.5%;
  }

  .icon{
    color: #ef817e;
    margin-bottom: 1rem;
  }

  .icon:hover{
    color: #ff4c68;
  }

  /*Testimonial Section*/
  #testimonials{
    background-color: #ef817e;
      }

  .testimonial-text{
    font-size: 3rem;
    line-height: 1.5;
  }

  .testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;

  }
 

  #press{
    background-color: #ef817e;
    padding-bottom:  3%;

  }

  .press-logo{
    width: 15%;
    margin: 20px 20px 50px;
  }

/* Pricing Section */
  #pricing{
    padding:  100px;
    

  }

  .price-text{
    font-size: 3rem;
    line-height: 1.5;
  }

  .pricing-column{
    padding: 35 2%;
  }

    /* Call to Action  */
 

    #footer{
      padding: 7% 15%;
      
    }
    
    .social-icon{
      margin:  20px 10px;
    }

  @media (max-width: 993px){

    #title{
      text-align: center;
    }
    .image {
      position: static;
      transform: rotate(0);
    }
  }

